body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: hsl(235, 83%, 51%);
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

#checklist, #on-joining {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px hsl(235, 83%, 51%);
    margin-top: 20px;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: hsl(235, 83%, 51%);
    color: white;
}
